# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env
main.py
LICENSE
keep_tk.py
run.bat
term.text
test.py
test1.py
time_different.py
function.py
fetch_wr_inward.py
inward_bike_api.js
lofibeats.png
lofibeats.png
mario_kart_leaderboards.txt
screen.png
*.py
inward_api.js
